language: python
matrix:
  include:
  - os: linux
    sudo: required
    python: 2.7
    dist: trusty
  - os: linux
    sudo: required
    python: 3.4
    dist: trusty
  - os: linux
    sudo: required
    python: 3.5
    dist: trusty
  - os: linux
    sudo: required
    python: 3.6
    dist: trusty
  - os: osx
    language: generic
    before_install:
    - travis_wait brew update
    #- brew install python3 # python is now already installed
    - brew upgrade python
    #- virtualenv env -p python3
    #- source env/bin/activate
    - alias pip="pip3"
    - brew install pandoc
    - brew upgrade wget
    - travis_retry sudo wget http://mirror.ctan.org/systems/mac/mactex/BasicTeX.pkg
      -O BasicTeX.pkg
    - sudo installer -pkg BasicTeX.pkg -target /
    - export PATH=$PATH:/usr/texbin:/Library/TeX/texbin
    - travis_retry sudo tlmgr update --self
    - travis_retry sudo tlmgr install babel
    - travis_retry sudo tlmgr install translations
    - travis_retry sudo tlmgr install latexmk
    - travis_retry sudo tlmgr install adjustbox
    - travis_retry sudo tlmgr install collectbox
    - travis_retry sudo tlmgr install ucs
    - travis_retry sudo tlmgr install enumitem
    - travis_retry sudo tlmgr install placeins
    - travis_retry sudo tlmgr install todonotes
    - travis_retry sudo tlmgr install chngcntr
    - travis_retry sudo tlmgr install doi
    - travis_retry sudo tlmgr install mdframed
    - travis_retry sudo tlmgr install cleveref
    - travis_retry sudo tlmgr install biblatex
    - travis_retry sudo tlmgr install needspace
    - travis_retry sudo tlmgr install collection-fontsrecommended
  allow_failures:
    - os: linux
      sudo: required
      python: 3.4
      dist: trusty
    - os: linux
      sudo: required
      python: 3.5
      dist: trusty

before_install:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y pandoc ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y texlive ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y texlive-xetex ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y texlive-latex-extra ; fi
# need up-to-date koma-script, which isn't supplied with this version of debian
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo wget http://mirrors.ctan.org/install/macros/latex/contrib/koma-script.tds.zip ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo unzip koma-script.tds.zip -d ~/texmf/ ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y latexmk ; fi
- pip install -U pip setuptools wheel
install:
- travis_wait pip install -r requirements.txt
- pip install -r test_requirements.txt
- pip install .
- pip install --quiet coverage
- pip install --quiet coveralls
script:
- nosetests -v --nocapture --with-doctest --with-coverage --exe --cover-package=ipypublish
- nbpublish -pdf --pdf-debug -log debug example/notebooks/Example.ipynb
after_success:
- coveralls
deploy:
#  - provider: pypi
#    distributions: bdist_wheel
#    server: https://test.pypi.org/legacy/
#    user: cjsewell
#    password:
#      secure: en0mNL9+rzlhUpnsLsdd3kskGYWVHL+bUyKnPJCZq0d0AH7tmAC7/J+KkR9iv+pHwVHJphqd+8X3p7k+eXOjjSGlY4mnTmz84iQrRilRzEsK53IvlU+0tayKv23ZlUVG8ecKT/33BOdqO/QZNOz09DViTABj65iIoTzd3pM1b94ycCOjWJV2EzSn8UQXe0p90mO7iE4aoyOOimweezbaZ1FrmZatUuRWeFGuzhopHF1FHtd/xk8Q2rWItUqwIgHiESknAAm5fFsgfJtEqenvmoGbeuBJ7ImCQzEOtF30Im7HJRwd8tXRJHVrTS0PpQpZLjhS/nGors8RRC0DW7r1FdYTUKWUUypDZJSphpyAkfvdVtlOX0NBBuCU71X8yx3yZWLsSv84PulRN6YASPSV3FvptMtam1J2/eoAm2aNy+/RyCvZpe8VtlE+7CSQX41T/1FdIyMzThlJHG0n3Kx92YBTUVuNLTlawTfK4WfS8NJhW1H74XoIRzrKn41EVoup4G0HAPj3vFhezwMdJ7CFIPyav5RdYf3h60smE0qpJl+qIMo5QD7AEWpvg+AIR8C4e0fRE6Iqovqzk+vM4Jq1QlI/mghDkRTFKEES5v0dObaIG8Gi+F3TfBjlyssHA0YREBaZRfVaO2Ov8wLBNaqr3QyJniJ5+eK2yL406DCqKOc=
#    on:
#      branch: master
#      tags: false
#      condition: $TRAVIS_PYTHON_VERSION = "3.6"
  - provider: pypi
    distributions: bdist_wheel
    user: cjsewell
    password:
      secure: OlCLGajz87wc/RPYMcMC9YrQjMgr6UVaadFQQWknz3ttT84+B0huFVaEbdnEBFNzPlKHlyO2Shz/3GBuBk+83rw997PWRZWCtuSsWgv5UxLm3inWCctQSzVBskHFL6lmQKb9rndUO7SnbX/2N2zuo1Ga2rqmuMLsifBn2An4+C4APCWB694aeAuECmbWMbx3L2YTtLvDL2SFTVtWki0e0bvUXJXVPeIJuKUaNQavaHdPKGjdJGG36+rh8bp4Cte4C2aOXUH3ovhk3VfzJiRDQSRQk2EoNHsB9js3kDsfX6Wn1zZIG4012KUX0tLpj+szI2lnhYeCRlW2t7Hfi/NOHEh1jQMQeuybIpHKmUjnwZC6BOYWT7UgJl2S5k4ZmjsiwTpuPcPmNca70VDpQ9THm4FZbfpLXFz6pBHyzOxQ7xdX2EW94fWv3dE87DSBU5Mu8fAMBTt2foOdRzKkAfQAbfa5TTnzJAf2uSUpGziPXsyaZnJWwSBUgEUvCeCPVaDLYDYSnzFHaQEOvdtkZwDcZ0oD5U6qW0/J6pzlvppWbEVCAPZ6Nos9o4ciO/JlNlEsgwVSgHceT7aFCvkhSKszIhzK0uk62PPgRhu6gZ9PHWQQJhVcL74lRXfsDqPR/sxA6xchHy1dXL+8J5MOtrMWOsk5HpInPKff7ErCzJOJHzg=
    on:
      branch: master
      tags: true
      condition: $TRAVIS_PYTHON_VERSION = "3.6"
