include LICENSE
include README.md
include requirements.txt
recursive-include ipypublish *.json
recursive-include ipypublish *.j2
recursive-include ipypublish *.yaml
recursive-include ipypublish/sphinx/notebook/css *.css
include ipypublish/tests/test_files/example.jpg
