bibtexparser
click >=7.0,<8.0
click-completion
docutils; python_version >= '3'
docutils <0.15; python_version < '3'
jinja2
jsonextended>=0.7
jsonschema
jupytext
importlib_resources; python_version < '3.7'
nbconvert
nbformat
ordered-set
pathlib2; python_version < '3.4'
panflute
ruamel.yaml
shutilwhich; python_version < '3.3'
six>=1.11.0
traitlets
typing; python_version < '3.5'
tornado
