bibtexparser
docutils
jinja2
jsonextended>=0.7
jsonschema
jupytext
nbconvert
nbformat
ordered-set
pathlib2; python_version < '3.4'
panflute
ruamel.yaml
shutilwhich; python_version < '3.3'
six>=1.11.0
traitlets
typing; python_version < '3.5'
tornado